.documentation_hero {
    background-image: url(../assets/images/documentation_hero.png);
    background-size: cover;
    background-repeat: none;

    color: white;

    text-align: right;

    padding: 145px 0;

    h2 {
        text-align: right;
    }

    a {
        color: white;
        text-align: center;
    }
}

.documentation_logiciel {
    padding: 200px 0;

    h3 {
        text-align: center;
        margin-bottom: 50px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;

        div {
            background-color: #f5f7f9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            text-align: left;

            padding: 50px 75px;

            img {
                width: 25%;
            }

            h2 {
                text-align: left;
                text-transform: none;
            }
        }
    }
}

.etape {
    .creation_doc {
        background-image: url(../assets/images/fond_doc_1.jpg);
        background-repeat: none;
        background-size: cover;

        padding: 50px 10px;
    }

    .documentation_doc {
        background-image: url(../assets/images/fond_doc_2.jpg);
        background-repeat: none;
        background-size: cover;

        padding: 50px 10px;
    }

    .ligne_doc {
        background-image: url(../assets/images/fond_doc_3.jpg);
        background-repeat: none;
        background-size: cover;

        padding: 50px 10px;
    }
}
