footer {
    margin: 50px 0;

    .wrapper {
        .nav_footer {
            display: flex;
            justify-content: space-between;

            div {
                :nth-child(1) {
                    margin-right: 25px;
                }
            }
        }

        text-align: center;
    }

    @media screen and (max-width: 800px) {
        .wrapper {
            .nav_footer {
                display: flex;
                justify-content: center;

                div {
                    display: none;
                }
            }
        }
    }
}
