/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    //max-width: $breakpoint-md;
    width: calc(100% - var(--spacing-margin));
    margin: 0 auto;

    @media screen and (max-width: 1550px) {
        width: calc(100% - var(--spacing-margin-desktop));
        margin: 0 auto;
    }

    @media screen and (max-width: 1340px) {
        width: calc(100% - var(--spacing-margin-mini-desktop));
        margin: 0 auto;
    }

    @media screen and (max-width: 1100px) {
        width: calc(100% - var(--spacing-margin-large-tablette));
        margin: 0 auto;
    }

    @media screen and (max-width: 980px) {
        width: calc(100% - var(--spacing-margin-tabelette));
        margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
        width: calc(100% - var(--spacing-margin-mini-tabelette));
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        width: calc(100% - var(--spacing-margin-large-cell));
        margin: 0 auto;
    }

    @media screen and (max-width: 450px) {
        width: calc(100% - var(--spacing-margin-moyen-cell));
        margin: 0 auto;
    }
}
