/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #f5f7f9;
    --color-secondary: #e8e9eb;
    --color-button: #e4b363;

    --color-neutral-light: #eeeeee;
    --color-neutral-dark: #888888;

    --color-fail: #f6511d;
}
