/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xs: 375px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

:root {
    --spacing-xs: 5px;
    --spacing-sm: 15px;
    --spacing-md: 30px;
    --spacing-lg: 50px;
    --spacing-xl: 100px;
    --spacing-margin: 750px;
    --spacing-margin-desktop: 400px;
    --spacing-margin-mini-desktop: 200px;
    --spacing-margin-large-tablette: 150px;
    --spacing-margin-tabelette: 150px;
    --spacing-margin-mini-tabelette: 150px;
    --spacing-margin-large-cell: 150px;
    --spacing-margin-moyen-cell: 25px;
}
