/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Quicksand', sans-serif;

    --font-size-content: 1.5rem;

    --font-size-button: 0.875rem;

    /// Grosseur des textes
    --font-size-h1: 7rem;
    --font-size-h2: 5.31rem;
    --font-size-h3: 3.75rem;
    --font-size-h4: 3rem;
}
