{% include '_partials/_header.html' %}

<section>
    <h1>Contact</h1>

    <article>
        <div>
            <h2>Courriel</h2>
            <p>leodubucd@gmail.com</p>
        </div>

        <h4>01</h4>
    </article>

    <article>
        <div>
            <h2>Téléphone</h2>
            <p>438-378-5770</p>
        </div>

        <h4>02</h4>
    </article>

    <article>
        <div>
            <h2>CV</h2>
            <p>Expérience Professionnelle</p>

            <p>
                Prolifik <br />
                Juin 2021 - Août 2021
            </p>

            <p>CLSC Juin 2022 -</p>

            <a href="#">Cliquer ici pour voir le CV au complet</a>

            <h4>03</h4>
        </div>
    </article>

    <article>
        <div>
            <h2>Résaux Sociaux</h2>
            <div>
                <svg class="icon">
                    <use xlink:href="#icon-Linkedin"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="#icon-github"></use>
                </svg>
                <svg class="icon">
                    <use xlink:href="#icon-instagram"></use>
                </svg>
            </div>
        </div>

        <h4>04</h4>
    </article>
</section>

{% include '_partials/_footer.html' %}
