{% include '_partials/_header.html' %}

<section class="contact">
    <h2>Contact</h2>

    <article class="gauche">
        <div class="wrapper">
            <div>
                <h3>Courriel</h3>
                <p>leodubucd@gmail.com</p>

                <a href="mailto:leodubucd@gmail.com" class="button">Envoyer le message</a>
            </div>
        </div>
        <h4 class="chiffre">01</h4>
    </article>

    <article class="droite">
        <h4 class="chiffre">02</h4>
        <div class="wrapper">
            <div>
                <h3>Téléphone</h3>
                <p>438-378-5770</p>
            </div>
        </div>
    </article>

    <article class="gauche">
        <div class="wrapper">
            <h3>CV</h3>
            <p><strong>Expérience Professionnelle</strong></p>

            <p>
                Prolifik <br />
                Juin 2021 - Août 2021
            </p>

            <p>
                CLSC <br />
                Juin 2022 -
            </p>

            <a href="assets/Dubuc_Leo_cv.pdf" class="button">Cliquer ici pour voir le CV au complet</a>
        </div>
        <h4 class="chiffre">03</h4>
    </article>

    <article class="droite">
        <h4 class="chiffre">04</h4>
        <div class="wrapper">
            <h3>Résaux Sociaux</h3>

            <div class="reseau">
                <a href="https://www.linkedin.com/in/l%C3%A9o-dubuc-07955620b/"
                    ><svg class="icon">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>

                <a href="https://github.com/leodubuc?tab=repositories"
                    ><svg class="icon">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg class="icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
            </div>
        </div>
    </article>
</section>

{% include '_partials/_footer.html' %}
