{% include '_partials/_header.html' %}

<section class="contact">
    <h2>Contact</h2>

    <article class="gauche">
        <div class="wrapper">
            <div>
                <h3>Courriel</h3>
                <p>leodubucd@gmail.com</p>
            </div>
        </div>
        <h4 class="chiffre">01</h4>
    </article>

    <article class="droite">
        <h4 class="chiffre">02</h4>
        <div class="wrapper">
            <div>
                <h3>Téléphone</h3>
                <p>438-378-5770</p>
            </div>
        </div>
    </article>

    <article class="gauche">
        <div class="wrapper">
            <h3>CV</h3>
            <p><strong>Expérience Professionnelle</strong></p>

            <p>
                Prolifik <br />
                Juin 2021 - Août 2021
            </p>

            <p>
                CLSC <br />
                Juin 2022 -
            </p>

            <a href="../assets/Dubuc_Leo_cv.pdf" class="button">Cliquer ici pour voir le CV au complet</a>
        </div>
        <h4 class="chiffre">03</h4>
    </article>

    <article class="droite">
        <h4 class="chiffre">04</h4>
        <div class="wrapper">
            <h3>Résaux Sociaux</h3>

            <div class="reseau">
                <a href="#"
                    ><svg class="icon">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>

                <a href="#"
                    ><svg class="icon">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>

                <a href="#">
                    <svg class="icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article class="gauche">
        <div class="wrapper">
            <h3>Me contacter</h3>

            <div class="input">
                <label class="input__label" for="name">Nom</label>
                <input class="input__element" type="text" name="fullname" id="fullname" placeholder="ex : Léo" />
            </div>

            <div class="input">
                <label class="input__label" for="email">Prénom</label>
                <input class="input__element" type="email" name="email" id="email" placeholder="ex : Dubuc" />
            </div>

            <div class="input">
                <label class="input__label" for="phone">Numéro De Téléphone</label>
                <input
                    class="input__element"
                    type="tel"
                    name="email"
                    id="email"
                    placeholder="(123) 456-7890"
                    required
                />
            </div>

            <div class="input">
                <label class="input__label" for="mail">Courriel</label>
                <input
                    class="input__element"
                    type="tel"
                    name="email"
                    id="email"
                    placeholder="allo@gmail.com"
                    required
                />
            </div>
        </div>

        <p class="chiffre">05</p>
    </article>
</section>

{% include '_partials/_footer.html' %}
