{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <h2>Léo un roux exceptionnel</h2>

        <a href="#"
            ><svg class="icon">
                <use xlink:href="#icon-fleche"></use>
            </svg>
        </a>
    </div>
</section>

<section class="grid" data-component="Scrolly">
    <div class="wrapper">
        <h3>C'est qui lui ?</h3>

        <p>
            Bonjour !!! Je suis un roux très énergique avec beaucoup <strong>d’autodérision</strong> passionné par le
            <strong>web</strong> et le <strong>design</strong>. J’adore faire rire mon entourage, mais je reste tout de
            même travaillant.
        </p>

        <div class="container">
            <div class="zone1" data-scrolly="fromRight">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum obcaecati quod similique, et quasi eos
                asperiores, dolorum repellendus distinctio consequuntur vero minus aspernatur saepe eum error totam sunt
                eaque repellat.
            </div>
            <div class="zone2" data-scrolly="fromLeft">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum obcaecati quod similique, et quasi eos
                asperiores, dolorum repellendus distinctio consequuntur vero minus aspernatur saepe eum error totam sunt
                eaque repellat.
            </div>
            <div class="zone3" data-scrolly="fromTop">
                <p>Je programme en :</p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Java Script</li>
                </ul>
            </div>
            <div class="zone4" data-scrolly="fromLeft">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum obcaecati quod similique, et quasi eos
                asperiores, dolorum repellendus distinctio consequuntur vero minus aspernatur saepe eum error totam sunt
                eaque repellat.
            </div>
            <div class="zone5" data-scrolly="fromRight">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum obcaecati quod similique, et quasi eos
                asperiores, dolorum repellendus distinctio consequuntur vero minus aspernatur saepe eum error totam sunt
                eaque repellat.
            </div>
        </div>
    </div>
</section>

<section class="qualite">
    <div class="wrapper">
        <h3>Une personne remplie de qualitées</h3>
        <p>
            Je suis une personne facile d’approche et très ouverte à la discussion qui <strong>aime aider</strong> les
            personnes. J’adore trouver des <strong>solutions</strong> aux problèmes que les personnes m'apportent.
        </p>

        <div class="content">
            <img class="moi" src="assets/images/moi.jpg" alt="photo de moi" />

            <div>
                <div class="nav_tel">
                    <img src="assets/images/fleche.png" alt="" />

                    <h4>Je suis :</h4>

                    <svg class="icon">
                        <use xlink:href="#icon-telephone"></use>
                    </svg>

                    <img src="assets/images/video.png" alt="" />
                </div>

                <p class="heure">12h00</p>

                <div class="texto">
                    <div>
                        <img src="assets/images/tete.png" alt="" />
                    </div>

                    <div class="message" data-component="Scrolly">
                        <p data-scrolly="fromBottom">Une personne sociale,</p>
                        <p data-scrolly="fromBottom">Avec une bonne esprit d’équipe,</p>
                        <p data-scrolly="fromBottom">Très fiable,</p>
                        <p data-scrolly="fromBottom">Et dynamique (proche du TDAH)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parti_video">
    <div class="wrapper">
        <h3>Un roux sauvage vient d’apparaître</h3>
        <p>
            Lors de mon <strong>stage</strong>, mon but serait de me faire de <strong>l’expérience</strong> dans le
            domaine tout en découvrant comment le marché du travail dans le multimédia fonctionne.
        </p>

        <div class="video" data-component="Video" data-video-id="KdBv6QjrGiA">
            <div class="video_media js-video">
                <img class="js-poster" src="assets/images/annonce.jpg" alt="La vidéo twé chose" />
                <svg class="icon icon--x1 icon--stroke">
                    <use xlink:href="#icon-play"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
