{% include '_partials/_header.html' %}

<div class="sidenav">
    <a href="#description">Description</a>
    <a href="#etape">Processus</a>
    <a href="#logiciel">Logiciels</a>
    <a href="#credit">Crédits</a>
    <a href="#defi">Defis</a>
</div>

<section class="single_hero_pot">
    <div class="wrapper">
        <h2>Recette en pot</h2>

        <p><strong>Design et développement du site web</strong></p>

        <p>Refonte du design et intégration de notre site en ligne</p>

        <a href="#">
            <svg class="icon">
                <use xlink:href="#icon-fleche"></use>
            </svg>
        </a>
    </div>
</section>

<section class="description" id="description">
    <div class="wrapper">
        <h3>Description</h3>

        <div>
            <img src="assets/images/pot.jpg" alt="" />

            <p>
                Le but de ce projet était de refaire le design du site web de Recette en pot. J’avais seulement accès
                aux images et a quelques symbole, par exemple des flèches. Pour ce qui est du design, tout est sorti de
                mon imagination.
            </p>
        </div>
    </div>
</section>

<section class="etape" id="etape">
    <div class="wrapper">
        <h3>Processus</h3>

        <div>
            <div class="wireframe_pot">
                <h4>Wireframe</h4>

                <p>Création de cube pour déterminer où vont être placer les images, textes et bouton.</p>

                <p class="chiffre">01</p>
            </div>

            <div class="integration_pot">
                <h4>Intégration des styles</h4>

                <p>
                    Dans cette parti du travaille, j’intégre les styles que j’ai donneré, ce qui veux dire, les
                    couleurs, la typographie et les images a mon site.
                </p>

                <p class="chiffre">02</p>
            </div>

            <div class="code_pot">
                <h4>Codage du site</h4>

                <p>Rendu à cette étape, je commence l’intégration de mon site en codant avec VS code.</p>

                <p class="chiffre">03</p>
            </div>
        </div>
    </div>
</section>

<section class="logiciel" id="logiciel">
    <h3>Logiciels</h3>

    <div class="wrapper">
        <div>
            <img src="assets/images/vscode.png" alt="" />

            <h2>VS Code</h2>
            <ul>
                <li>Intégration du texte dans le site</li>
                <li>Intégration du style</li>
                <li>Intégration de l’intéraction dans le site</li>
            </ul>
        </div>

        <div>
            <img src="assets/images/figma.png" alt="" />

            <h2>Figma</h2>
            <ul>
                <li>Création du wireframe</li>
                <li>Intégration des couleurs et des images</li>
                <li>Finalisation du design</li>
            </ul>
        </div>
    </div>
</section>

<section class="credit" id="credit">
    <div class="wrapper">
        <h3>Crédits</h3>

        <div>
            <h3>Léo Dubuc</h3>

            <ul>
                <li>Intégration du site web</li>
                <li>Création du design</li>
            </ul>
        </div>

        <div>
            <h3>Recette en pot</h3>

            <ul>
                <li>Droit des images</li>
            </ul>
        </div>
    </div>
</section>

<section class="defi" id="defi">
    <div class="wrapper">
        <h2>Défis</h2>

        <div>
            <img src="assets/images/defi_pot_1.jpg" alt="" />

            <p>
                Mon premier défi a été de trouver les bonnes couleurs pour bien représenter l’ambiance du site toute en
                y incorporant mon style. J’ai réussi à mettre des couleurs assez sobre, mais qui attire tout de mêmes
                l’attention.
            </p>
        </div>

        <div>
            <p>
                Un autre problème a été lors du développement du site, nous avions comme défi d’inclure des composantes
                que nous avions jamais fait. Ce qui a causée beaucoup de problèmes dans le Java scripts.
            </p>

            <img src="assets/images/defi_pot_2.jpg" alt="" />
        </div>

        <div>
            <img src="assets/images/defi_pot_3.jpg" alt="" />

            <p>
                Lors de la mise en ligne de mon site, de nombreuses images et titre n’apparaîsait pas. En plus, quelques
                marges n’était plus placer comme avant. J’ai donc dû régler tout ces problèmes.
            </p>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
