{% include '_partials/_header.html' %}

<section class="projet" data-component="Scrolly">
    <div class="wrapper">
        <h2>mes projets</h2>
    </div>

    <article data-scrolly="fromRight" data-repeat="no-repeat">
        <div>
            <img src="assets/images/documentation.jpg" alt="" />
        </div>
        <div class="wrapper">
            <div class="droite">
                <h3>Documentation</h3>

                <p><strong>Développement</strong></p>

                <p>
                    Le but de ce projet était de concevoir un aide mémoire avec la matière que l’on a vue lors des
                    dernières sessions. Nous devions faire la documentation et les exemples sur chaque composante.
                </p>

                <a href="documentation.html" class="button">Voir le projet</a>
            </div>
        </div>
        <p class="chiffre">01</p>
    </article>

    <article data-scrolly="fromLeft" data-repeat="no-repeat">
        <p class="chiffre">02</p>
        <div class="wrapper">
            <div class="gauche">
                <h3>Recette en pot</h3>

                <p><strong>Développement et design</strong></p>

                <p>
                    Le but de ce projet était de refaire le design du site web de Recette en pot. J’avais seulement
                    accès aux images et a quelques symbole, par exemple des flèches. Pour ce qui est du design, tout est
                    sorti de mon imagination.
                </p>

                <a href="recette_en_pot.html" class="button">Voir le projet</a>
            </div>
        </div>

        <div>
            <img src="assets/images/recette_en_pot.jpg" alt="" />
        </div>
    </article>

    <article data-scrolly="fromRight" data-repeat="no-repeat">
        <div>
            <img src="assets/images/gloup.jpg" alt="" />
        </div>
        <div class="wrapper">
            <div class="droite">
                <h3>Gloup</h3>

                <p><strong>Design</strong></p>

                <p>
                    Le but de ce projet était de concevoir une application dans le but de simuler un blog qui parle de
                    différent sujet. J’ai décider de choisir une application qui fait décourir la bière de
                    microbrasserie.
                </p>

                <a href="gloup.html" class="button">Voir le projet</a>
            </div>
        </div>
        <p class="chiffre">03</p>
    </article>

    <article data-scrolly="fromLeft" data-repeat="no-repeat">
        <p class="chiffre">04</p>
        <div class="wrapper">
            <div class="gauche">
                <h3>TIMFLIX</h3>

                <p><strong>Design</strong></p>

                <p>
                    Le but de ce projet était de faire une application qui répertorie des films avec une note sur chacun
                    et une avis. Le design à été entièrement pensée par moi.
                </p>

                <a href="timflix.html" class="button">Voir le projet</a>
            </div>
        </div>
        <div>
            <img src="assets/images/timflix.jpg" alt="" />
        </div>
    </article>

    <article data-scrolly="fromBottom">
        <div>
            <img src="assets/images/annonce.jpg" alt="" />
        </div>
        <div class="wrapper">
            <div class="droite">
                <h3>Contre bande-annonce</h3>

                <p><strong>Vidéo</strong></p>

                <p>
                    Le but de ce projet été de créée une ouverture de serie avec en changent la vidéo et la musique tout
                    en respectant le thème de la serie. Les vidéos sont tous tirées de banques d’images libre de droit.
                </p>

                <a href="annonce.html" class="button">Voir le projet</a>
            </div>
        </div>
        <p class="chiffre">05</p>
    </article>
</section>

{% include '_partials/_footer.html' %}
